/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */

*{
    /* margin: 0; */
    /* padding: 0; */
}


.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Shared style */
.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}
.dark-3{
    color: #757575;
}
.second-background {
    background-color: #FFF8F3;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.contact-button{
    padding: 17.5px 35px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color:  #FD6E0A;
    cursor: pointer;
}
.button-container{
    display: flex;
    gap: 18px;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    /* dark-1 color */
}

.section-description {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    /* dark-3 color */
}



/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 125px;
}

.nav-title {
    font-weight: 800;
    font-size: 35px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul a {
    text-decoration: none;
    font-size: 20px;
}

/* Header file image background */
.header {
    background-image: url('./images/developer.png'), url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 125px;
    /* background-color: rgb(255, 248, 243);; */
    /* height: 680px; */
    /* width: 1600px; */
}

.banner-content {
    max-width: 500px;
}

/* Banner styles */
.banner-greetings {
    font-size: 25px;
    font-weight: 600;
}

.banner-title {
    font-size: 50px;
    font-weight: bold;
}

.banner-description {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin: 30px 0 50px 0;
}

.banner-profile-pic {
    width: 500px;
    /* height: 780px; */
    /* margin-bottom: 100px; */
    /* margin-top: 100px; */
}

/* Main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* About styles */

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}

.about-items{
    display: flex;
    justify-content: space-around;
    /* margin-top: 50px; */

}
.about-content{
    background-color: white;
    border: 1px solid black;
    padding: 5px;
}
/* .about-item{
    display: flex;
    flex-direction: column;
} */

.about-description{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}

.item-title{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
}

.item-description{
    font-size: 16px;
    font-weight: bold;
    color: #474747;
    /* margin-top: px; */
    /* margin: 30px; */
}


.top-part{
    text-align: center;
    /* width: 80%;
    /* padding: 130px 150px; */
    margin-bottom: 50px;
}
.skills-container{
    display: flex;
    /* grid-template-columns: repeat(4,1fr); */
    /* justify-content: space-between; */
    gap: 24px;
    /* width: 80%; */
}

.skill-title{
    color: #181818;
}

.skill{
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    width: 200px;
    color: #757575 ;
    
}

/* Resume styles started */

.resume-container{
    display: flex;
    gap: 30px;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #181818;
}

.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.experience-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -20px;
}

.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.experience-description{
    font-size: 16px;
    font-weight: 400;
}

.experience-sub-title, .experience-description{
    color: #757575;
}
.resume hr{
    margin: 30px 1px;
}

.resume-download-cv{
    text-align: center;
    margin-top: 35px;
}

/* Footer styles started */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.footer-title{
    font-size: 35px;
    font-weight: bold;
}
.footer-description{
    color: #474747;
}

.footer-column{
    width: 50%;
}

footer input[type="text"], footer input[type="email"], footer textarea{
    /* height: 64px; */
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    font-size: 16px;
    border: none;
    color: #FFFFFF;

}
/* .message{
    height: 400px;
    width: 400px;
} */


/* Responsive section starts */
/* For small devices */
.hide{
    display: none;
}
@media screen and (max-width: 576px) {
    .skills-container{
        flex-direction: column;
    }
    .resume-container{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
        padding: 20px;
    }
    .footer-column{
        width: 100%;
    }
    footer input[type="text"], footer input[type="email"], footer textarea{
        width: calc(100% - 40px);
    }
    .about{
        padding: 20px;
    }
    .about-items{
        flex-direction: column;
    }
    .button-container{
    flex-direction: column;
    }
    .header{
        background-image: none;
    }
    .banner{
        flex-direction: column;
        margin: 20px;
    }
    .banner-profile-pic{
        width: 100%;
    }
    nav{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
        gap: 20px;
    }
    .nav-title {
        font-weight: 800;
        font-size: 35px;
    }
    
}






